.aurin-login-form {
  .aurin.logo {
    min-height: 100px;
    background: url('/packages/urbanetic_accounts-aurin/src/resources/aurin.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px 0 20px 0;
  }
}
